/* Navbar styling */
.custom-navbar {
    background-color: #980930;
    color: white;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
}

.custom-navbar .navbar-brand {
    font-weight: bold;
    font-size: 28px;
    color: white;
    display: flex;
    align-items: center;
}

.custom-navbar .nav-link {
    color: white;
}

.custom-navbar .navbar-brand img {
    border-radius: 100%; /* Circular image */
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Hover effect for the links */
.custom-navbar .nav-link:hover {
    text-decoration: underline;
}

/* Styling for item boxes */
.item-box {
    transition: all 0.5s ease;
}

.item-box:hover {
    background-color: #f8f9fa;
    transform: scale(1.05);
}

.button {
    border: none;
}

.basket-item {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items:center;
    background-color: #f2f2f2;
    margin: 10px;
}

.confirm-button{
    font-size: 20px;
    font-weight: bold;
    text-decoration-color: white;
    background-color: #980930;
    border-color: black;
}

.account-box{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    font-weight: bold;
    margin: 10px;
}